#map{
    width: 40vw;
    height: 50vh;
    left: 30vw;
    top: 5vh;
    position: relative;
}

#bgmap{
    width: 40vw;
    height: 50vh;
    opacity: .8;
    border: 1px;
    border-style: solid;
    border-color: black;
}

#adventurer{
    position: absolute;
    left: .25vw;
    top: .8vh;
    width: 40px;
    height: 40px;
}

#image-sprite {
    position: absolute;
    height: 42px;
    width: 42px;
    background-size: 42px 42px;
    overflow: hidden;
  }

#EncounterState{
    margin-top: 1em;
    border: 0;
    width: 80vw;
    height: 25vh;
    left: 10vw;
    top: 65vh;
    position: absolute;
}
