<div id="map">
    <div id="journey-start"></div>
    <div id="seq-encounter-1"></div>
    <div id="seq-encounter-2"></div>
    <div id="seq-encounter-3"></div>
    <div id="seq-encounter-4"></div>
    <div id="seq-encounter-5"></div>
    <div id="seq-encounter-6"></div>
    <div id="seq-encounter-7"></div>
    <div id="journey-end"></div>
    <div id="adventurer" [@king]=nextRule [@take]=nextSide [@sin]=nextOfKin [@sew]=nextHunt [@ash]=nextMoon [@stash]=nextNode [@swash]=nextState [@swish]=currentState>{{text}}</div>
</div>
<button (click)="changeState()">Exit First Encounter</button>
<button (click)="changeStateTwo()">Exit Second Encounter</button>
<button (click)="changeStateThree()">Exit Third Encounter</button>
<button (click)="changeStateFour()">Exit Fourth Encounter</button>
<button (click)="changeStateFive()">Exit Fivth Encounter</button>
<button (click)="changeStateSix()">Exit Sixth Encounter</button>
<button (click)="changeStateSeven()">Exit Seventh Encounter</button>
<button (click)="changeStateEight()">Enter Final Encounter</button>