<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h4 id="pokemon-api">Please input a number between 1 and 315</h4>
    <input id = "pokemon-id-input" type="number"></input>
    <button onclick="newPokemon()">New Pokemon</button>
    <ul id="pokemon-list">

    </ul>
</body>
<script src="pokemon-api.js"></script>

</html> -->