.tp-card {
    position: absolute;
    max-width: 200px;
    left: 10px;
    top: 500px;
 }
 .tp-header-image {
    background-size: cover;
 }

 .tp-card {
     margin-top: 10px;
    outline-style: solid; 
 }

 