.tp-card {
    max-width: 200px;
    left: 10px;
 }

 .tp-header-image {
    background-size: cover;
    text-align: center;
 }

 .tp-card {
    margin-top: 10px;
    outline-style: solid; 
 }

 .fullmodel {
   height: 50px;
   scale: 50px;
 }

 