<p>character works!</p>
<form id="player-form" onsubmit="newPlayerSubmit(event)">
    <div class="form-group">
        <label for="player-name">Name:</label>
        <input type="text" class="form-control" id="player-name-input" placeholder="TheOne">
    </div>
    <div class="form-group">
        <label for="player-class">Classes</label>
        <select class="form-control" id="player-class-select">
            <option>Barbaian</option>
            <option>Bard</option>
            <option>Cleric</option>
            <option>Druid</option>
            <option>Fighter</option>
            <option>Monk</option>
            <option>Paladin</option>
            <option>Ranger</option>
            <option>Rogue</option>
            <option>Sorcerer</option>
            <option>Warlock</option>
        </select>
    </div>
    <div class="form-group">
        <label for="player-race">Races</label>
        <select class="form-control" id="player-race-select">
            <option>Dwarf</option>
            <option>Elf</option>
            <option>Halfling</option>
            <option>Human</option>
            <option>Dragonborn</option>
            <option>Gnome</option>
            <option>HalfElf</option>
            <option>HalfOrc</option>
            <option>Tiefling</option>
        </select>
    </div>
    <button class="btn btn-danger" type="submit">Submit</button>
</form>