<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>project2</display-name>

	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>com.revature.web.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>CharacterServlet</servlet-name>
		<servlet-class>com.revature.servlets.CharacterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CharacterServlet</servlet-name>
		<url-pattern>/characters/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MonsterServlet</servlet-name>
		<servlet-class>com.revature.servlets.MonsterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MonsterServlet</servlet-name>
		<url-pattern>/monsters/*</url-pattern>
	</servlet-mapping>
</web-app>